<style>
    /* CSS styles for your web page */
    body {
      font-family: Arial, sans-serif;
      background-color: #f16d6d;
      color: #333;
      margin: 0;
    }
    
    header {
      background-color: #333;
      padding: 20px;
      color: #e40e0e;
      text-align: center;
      border-radius: 15px;
    }
  
    h1 {
      margin: 5px;
      font-size: 24px;
    }
    h2{
      color: #f00a0a;
    }

    
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      border: #b96161;
      border-radius: 15px;:
      background-color: #333;
      text-align: center;
    }
    .container p{
      border: none;
      background-color:transparent;
      color: #2ab330;
    }
    .container button{
      background-color: darkgoldenrod;
    }
    .container img{
      background-color: darkgoldenrod;
      border-radius: 15px;
      box-shadow: #8ac916;
    }
    div{
      background-color: hsl(66, 74%, 50%);
    }
    div div{
      background-size: 200%;
      background-color: #333;
    }
    div div div{
      background-color:none;
      
    }
    
    /* Restaurants list */
    .restaurants-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      margin-top: 20px;
    }
    
    .restaurant-card {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    .restaurant-card img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    
    .restaurant-card h2 {
      margin: 0;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .restaurant-card p {
      margin: 0;
      color: #888888;
      font-size: 14px;
    }
    
    /* Cart section */
    .cart {
      background-color: #333;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }
    
    .cart h2 {
      margin: 0;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      border-radius: 15px;
      background-color: #333;
    }
    
    .cart-item .item-name {
      font-weight: bold;
      color:#b96161;
    }
    
    .cart-item .item-price {
      color: #2ab330;
      font-size: 14px;
    }
    
    .cart-total {
      font-weight: bold;
      margin-top: 10px;
      text-align: right;
    }
    
    /* Footer section */
    footer {
      background-color: #888888;
      padding: 10px;
      color: #ffffff;
      text-align: center;
      margin-top: 20px;
    }
  </style>